{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css\css\bootstrap.min.css' %}">
    <title>Home Page</title>
</head>
<body>
    
    

    <div class="container">
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body text-center">
                    <img id="pic-edit" class="img-fluid rounded-circle mx-auto d-block" src="{% static 'img/arsalan.jpg' %}" alt="arsalan">
                    <hr>
                    <h4 style="font-size: small;">I'm Arsalan</h4>
                    <p id="size-f">Hi, I am software developer and I have been working since two years in web development.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Who is the software Developer!</h4>
                    <p>
                        Software developers conceive of, design, and build computer programs. Some develop new applications for mobile or 
                        desktop use, while others build underlying operating systems. Either way, software developers identify user needs, 
                        build programs, test out new software, and make improvements. Working closely with computer programmers, software 
                        developers fill crucial roles in the computer systems, manufacturing, finance, and software publishing industries.
                    </p>
                    <h5>Software developers do the following</h5>
                    <p>
                        Use various source debuggers and visual development environments to modify, write, and debug software for client 
                        applications.
                    </p>
                    <p>
                        check icon Document and test client software and write code to create applications that either stand alone or boost 
                        access to servers and services.
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Who is exprience developer?</h4>
                    <hr>
                    <p>
                        A senior developer who spent over 10,000 hours on various software development projects has broader experience.
                        What does this mean? It means that they encountered many challenges that give them a wider perspective when providing 
                        solutions.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>What you should Know?</h4>
                    <hr>
                    <p>Atleast You should know!</p>
                    <h6>1. Coding languages</h6>
                    <h6>2. Database knowledge</h6>
                    <h6>3. Data structures and algorithms</h6>
                    <h6>4.Most important problem solving</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <h4>How to learn coding?</h4>
                    <hr>
                    <h6>1.Figure out how you want to learn to code</h6>
                    <h6>2.Choose which coding language you want to learn first</h6>
                    <h6>3.Take online courses</h6>
                    <h6>4.Check out how other people code</h6>
                    <h6>5.Take coding projects</h6>
                    <h6>6.Find a mentor and a community</h6>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>What is Your Goal?</h4>
                    <hr>
                    <p>
                        First, write down everything you want to accomplish. Then, narrow it down. Start with one goal.
                        Circle the goals you've chosen. If you do have multiple goals, make sure you know what their relative prioritization 
                        is - which one is most important to you? Essentially, if two of your goals come into conflict, which one is more 
                        important? You should have an answer to this question before you continue.
                    </p>
                    <p>
                        If it is an externally-motivated goal, figure out how to generate internal (intrinsic) motivation. People are 
                        generally much more likely to stick to goals which have intrinsic motivation.
                    </p>
                    <p>Keep your effort until you will reach to your goal.</p>
                </div>
            </div>
        </div>

    </div>

</body>

<script src="{% static 'js\js\bootstrap.min.js' %}"></script>
</html>